
<template>
    <div class="item">
        <div v-if="item.gsid" style="position: absolute;
            left: -6px;
            top: 2px;
            width: 113px;
            height: 35px;
            font-size: 10px;
            padding-left: 12px;
            padding-top: 6px;
            color: #ffffff;
            background: url(Texture/Aries/Creator/keepwork/Avatar/tou_113X35_32bits.png#0 0 113 35);">
            {{ModelFrom() or ""}}
        </div>
        <div v-if="ShowVipIcon()" style="position: absolute;
            left: -3px;
            top: -2px;
            width: 48px;
            height: 53px;
            padding-left: 12px;
            padding-top: 12px;
            background: url(Texture/Aries/Creator/keepwork/Avatar/VIP_48X53_32bits.png#0 0 48 53);">
        </div>
        <div v-if="ShowTryIcon()" style="position: absolute;
            left: 93px;
            top: 58px;
            width: 46px;
            height: 46px;
            background: url(Texture/Aries/Creator/keepwork/Avatar/btn_shichuan_44X46_32bits.png#0 0 46 46);">
        </div>
        <div v-bind:style="ItemStyle()"></div>
        <div class="center" style="height: 30px; color: #000000; font-size: 12px;">{{item.name}}</div>
    </div>
</template>

<script type="text/lua">
local KeepWorkItemManager = NPL.load("(gl)script/apps/Aries/Creator/HttpAPI/KeepWorkItemManager.lua");
local CheckSkin = NPL.load("(gl)Mod/GeneralGameServerMod/UI/Vue/Page/User/CheckSkin.lua");

NPL.load("(gl)script/apps/Aries/Creator/Game/Entity/CustomCharItems.lua");
local CustomCharItems = commonlib.gettable("MyCompany.Aries.Game.EntityManager.CustomCharItems");
-- 标题属性
itemid = GetAttrValue("itemid", 0, "number");
item = CustomCharItems:GetItemById(itemid) or {};

function ModelFrom()
    local template = KeepWorkItemManager.GetItemTemplate(item.gsid);
    if (template and template.desc) then
        return template.desc;
    end
end

function ShowVipIcon()
    return item.type == CheckSkin.SKIN_ITEM_TYPE.VIP;
end

function ShowTryIcon()
    return (item.gsid and not KeepWorkItemManager.HasGSItem(item.gsid));
end

function ItemStyle()
    return string.format("margin-left:30px;margin-top: 15px; margin-bottom: 15px; width: 64px; height: 64px; background:url(%s)", item.icon);
end

function OnReady()
end

-- 监听属性变更
function OnAttrValueChange(attrName, attrValue)
    if (attrName ~= "itemid") then return end
    itemid = attrValue;
    item = CustomCharItems:GetItemById(itemid) or {};
end

</script>

<style>
.item {
    width: 142px;
    height: 140px;
    padding: 10px 7px 0px 7px;
    display: inline-block;
    background: url(Texture/Aries/Creator/keepwork/ggs/user/renwuqiehuan/wupingbj_146X140_32bits.png#0 0 146 140);
}
</style>