.svn*
/*
!/.git*
!/*.md
!/LICENSE
!/script/
/script/*
!/script/ide
!/script/sqlite
!/script/apps
/script/apps/*

!/script/apps/WebServer
!Documentation/
Documentation/*
!Documentation/Global.xml
!Documentation/Npl*
!Documentation/paracraft*
!NPLPackageMain.vcxproj
!NPLPackageMain.vcxproj.filters
!NPLPackageMain.sln
