.svn*
*.cs
/*
!/.git*
!/*.md
!/CMakeLists.txt
!/LICENSE
!/script/
/script/*
!/script/ide
!/script/sqlite
!/script/apps
/script/apps/*
!/script/apps/WebServer
!Documentation/
Documentation/*
!Documentation/Global.xml
!Documentation/Npl*
!Documentation/paracraft*
!NPLPackageMain.csproj
!NPLPackageMain.csproj.user
!NPLPackageMain.sln
