pe:mcml, div, p {
    display:block;
}

p {
    display:block;
    margin-top:12px;
    margin-bottom:12px;
}

span {
    display:inline;
}

button, input[type="button"] {
    display: inline-block;
}
