html, mcml, div {
    display:block;
}

html {
    overflow:auto;
}

p {
    margin-top:12px;
    margin-bottom:12px;
}

h1 {
    display: block;
    font-size: 19px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 17px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

h4 {
    display: block;
    font-weight: bold;
}

input, textarea, select, button {
    font-family: initial;
    font-weight: initial;
    font-size: initial;
    color: initial;
    line-height: initial;
    display: inline-block;
}

input {
    padding: 1px;
    background-color: white;
}

input[type="button"], button {
    margin: 2px;
    padding-top:2px;
    padding-right:6px;
    padding-bottom:2px;
    padding-left:6px;
    color: ButtonText;
    background-color: ButtonFace;
    box-sizing: border-box
}

input[type="radio"], input[type="checkbox"] {
    margin: 3px;
    padding: 0px;
}

button {
    appearance: push-button;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    appearance: push-button;
}

input[type="button"], input[type="submit"], input[type="reset"], button {
    box-align: center;
    text-align: center;
}

input[type="checkbox"] {
    appearance: checkbox;
}

input[type="radio"] {
    appearance: radio;
}

input[type="narrow"] {
    appearance: narrow;
    margin: 2px;
}

input[type="text"], input[type="password"] {
    background-color: #cccccc;
    appearance: textfield;
    padding: 2px;
    margin:2px;
}

textarea {
    appearance: textarea;
    background-color: #cccccc;
    padding: 2px;
}

treeview {
    display:block;
    overflow-x:hidden;
    overflow-y:auto;
}

treenode {
    display:block;
}

gridview {
    display:block;
}

style {
    display: none
}

script, if, repeat {
    display: none
}

link {
    display: none
}

head {
    display: none
}

meta {
    display: none
}

title {
    display: none
}


option, NodeTemplates, EmptyDataTemplate, FetchingDataTemplate, Columns, PagerTemplate, Resource {
    display: none
}

DataNodePlaceholder, bindingblock {
    display: block;
}

p, container, pager, form {
    display:block;
}

pager {
    text-align:center;
}

iframe {
    display:inline-block;
}

select {
    appearance: menulist;
    margin: 2px;
    border: 1px solid;
    color: black;
    background-color: white;
}

select[size] {
    appearance: listbox;
    border: 1px inset gray;
    margin: 2px;
}

select[size="0"],
select[size="1"] {
    appearance: menulist;
    border: 1px solid black;
    white-space: pre;
}

sliderbar, progressbar, identicon, custom {
    display: inline-block;
}

