/*mcml is paracraft element*/
div, p, form {
    display:block;
}

p {
    margin-top:12px;
    margin-bottom:12px;
}

h1 {
    display: block;
    font-size: 19px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 17px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

h4 {
    display: block;
    font-weight: bold;
}

input, textarea, select, button {
    /*margin: 0__qem;*/
    font-family: initial;
    font-weight: initial;
    font-size: initial;
    color: initial;
    /*letter-spacing: normal;
    word-spacing: normal;*/
    line-height: initial;
    /*text-transform: none;
    text-indent: 0;
    text-shadow: none;*/
    display: inline-block;
    /*text-align: start;*/
}

input {
    /*-webkit-appearance: textfield;*/
    padding: 1px;
    background-color: white;
    /*border: 2px inset;
    -webkit-rtl-ordering: logical;
    cursor: text;*/
}

/*input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {*/
input[type="button"], button {
    /*align-items: flex-start;
    text-align: center;
    cursor: default;
    color: ButtonText;
    padding: 2px 6px 3px 6px;
    border: 2px outset ButtonFace;*/
    padding-top:2px;
    padding-right:6px;
    padding-bottom:3px;
    padding-left:6px;
    color: ButtonText;
    background-color: ButtonFace;
    box-sizing: border-box
}

input[type="radio"], input[type="checkbox"] {
    margin: 3px;
    padding: 0px;
    /*background-color: initial;
    border: initial;
    cursor: default;*/
}

button {
    appearance: push-button;
    /*-webkit-appearance: button;*/
}

input[type="button"], input[type="submit"], input[type="reset"] {
    appearance: push-button;
    /*-webkit-appearance: push-button;*/
    /*-webkit-user-select: none;
    white-space: pre*/
}

input[type="button"], input[type="submit"], input[type="reset"], button {
    box-align: center;
    text-align: center;
}

input[type="checkbox"] {
    appearance: checkbox;
}

input[type="radio"] {
    appearance: radio;
}

input[type="narrow"] {
    appearance: narrow;
    margin: 2px;
}

input[type="text"], input[type="password"] {
    background-color: #cccccc;
    appearance: textfield;
    padding: 1px;
    margin:1px;
    /*background-color: white;
    border: 2px inset;
    -webkit-rtl-ordering: logical;
    cursor: text;*/
}

textarea {
    appearance: textarea;
    background-color: #cccccc;
    /*border: 1px solid;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;*/
    padding: 2px;
    /*white-space: pre-wrap;
    word-wrap: break-word;*/
}

treeview {
    display:block;
    overflow-x:hidden;
    overflow-y:auto;
}

treenode {
    display:block;
}

gridview {
    display:block;
}

style {
    display: none
}

script, if, repeat {
    display: none
}

link {
    display: none
}

head {
    display: none
}

meta {
    display: none
}

title {
    display: none
}


option, NodeTemplates, EmptyDataTemplate, FetchingDataTemplate, Columns, PagerTemplate, Resource {
    display: none
}

DataNodePlaceholder, bindingblock {
    display: block;
}

mcml, container, pager {
    display:block;
}

pager {
    text-align:center;
}
